@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* @layer components {
  .btn-primary {
    @apply bg-indigo-600 text-white hover:bg-indigo-700 px-4 py-2 rounded-lg font-semibold transition-all;
  }
  
  .card {
    @apply bg-white rounded-xl shadow-card border border-gray-200 p-4;
  }
} */